.bookCard {
  display: flex;
  gap: 5px;
  box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  transition: transform 0.3s;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 310px;
  height: 300px;
}

.details {
  max-height: 300px;
  overflow: auto;
}
